<h1 mat-dialog-title>
  <p>{{ data.metadata.title }}</p>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</h1>
<mat-dialog-content>
  <img [src]="data.metadata.image" alt="Scenario's image">
  <div>{{ data.metadata.description }}</div>
  <mat-divider></mat-divider>
  <div class="infos">
    <div><mat-icon>location_city</mat-icon>{{ data.metadata.cityId | cityName | async }}</div>
    <div><mat-icon *ngFor="let i of [1,2,3,4,5]">{{ data.metadata.rate >= i ? 'star' : data.metadata.rate >= i -.5 ? 'star_half' : 'star_border' }}</mat-icon></div>
    <div><mat-icon>hourglass_bottom</mat-icon>{{ data.metadata.estimatedDuration | hour }}</div>
    <div>{{ Difficulty[data.metadata.difficulty] }}</div>
  </div>
  <mat-divider></mat-divider>
  <div class="about">
    <div><mat-icon>today</mat-icon>{{ $any(data.metadata.creationDate) | date:'MM/dd/yyyy' }}</div>
    <div><mat-icon>people</mat-icon>{{ data.metadata.timesPlayed}}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button *ngIf="isStartVisible" (click)=startScenario() mat-fab mat-dialog-close><mat-icon>play_arrow</mat-icon></button>
  <button *ngIf="game" (click)=restartScenario() mat-fab color="warn" mat-dialog-close><mat-icon>replay</mat-icon></button>
</mat-dialog-actions>

