<h1 mat-dialog-title>{{ data.mechanism.title }}</h1>
<mat-dialog-content>
  <div class="lock">
    <img [src]="data.mechanism.image" alt="Lock image">
  </div>
  <div class="keys">
    <button mat-fab *ngFor="let key of keys" (click)="onTryKey(key)">
      <img *ngIf="key.imgSrc; else icon" [src]="key.imgSrc" [alt]="key.name">
      <ng-template #icon>
        <mat-icon>vpn_key</mat-icon>
      </ng-template>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
