:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .mat-dialog-content {
    flex: 1;
    max-height: none;
    background-image: url("/assets/images/lock.svg");
    background-repeat: no-repeat;
    padding: 0 6.5vw;

    .lock{
      display: flex;
      flex-direction: row;
      margin-top: 59.5vw;
      margin-bottom: 50px;

      app-wheel-picker {
        flex: 1;
        margin: 0 7vw;
        border-radius: 10px;
      }
    }
  }
}



.mat-snack-bar-handset .mat-snack-bar-container {
  margin: 50px;
}

.mat-simple-snackbar {
  margin: 50px;
  color: yellow;
  font-size: 150px;
}
