:host {
  display: block;
  position: relative;
  height: 64px;
  cursor: grab;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    position: relative;
    margin : 0;
    text-align: center;
    border-bottom: 4px solid white;
  }
}
