<div class="map-container" *ngIf="isGoogleMapApiLoaded$ | async">
  <section class="items-menu">
    <button routerLink="mechanism_list" mat-fab color="primary" aria-label="Mechanisms list">
      <mat-icon>lock</mat-icon>
    </button>
    <button routerLink="inventory" mat-fab color="primary" aria-label="Inventory">
      <mat-icon>backpack</mat-icon>
    </button>
  </section>
  <google-map
    height="100%"
    width="100%"
    [center]="center"
    [options]="options"
  >
    <map-marker *ngFor="let markerPosition of markerPositions"
      [position]="markerPosition"
      [options]="markerOptions">
    </map-marker>
  </google-map>
</div>
