<div class="map-container" *ngIf="isGoogleMapApiLoaded$ | async">
  <div class="items-menu top left">
    <button routerLink="../home" mat-fab color="primary" aria-label="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="items-menu top right">
    <button routerLink="mechanism_list" mat-fab color="primary" aria-label="Mechanisms list">
      <mat-icon>lock</mat-icon>
    </button>
    <button routerLink="inventory" mat-fab color="primary" aria-label="Inventory">
      <mat-icon>backpack</mat-icon>
    </button>
  </div>
  <google-map
    height="100%"
    width="100%"
    [center]="center"
    [options]="options"
  >
    <map-marker *ngIf="userPosition"
      [position]="userPosition"
      [options]="userMarkerOptions">
    </map-marker>
    <map-marker #marker="mapMarker"
      *ngFor="let m of markers"
      [position]="m.position"
      [options]="{ draggable: false }"
      (mapClick)="showInfoWindow(marker, m)"
    >
    </map-marker>
    <map-info-window>
      <ng-container *ngIf="currentMarker">
        <img class="info-image" [src]="currentMarker.image">
        <h1>{{ currentMarker.title }}</h1>
        <p>{{ currentMarker.description }}</p>
      </ng-container>
    </map-info-window>
  </google-map>
</div>
