<h1 mat-dialog-title>
  {{ title }}
</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select formControlName="city" aria-label="City">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h3>Rating (min)</h3>
    <mat-button-toggle-group formControlName="rate" aria-label="Rating">
      <mat-button-toggle *ngFor="let val of [0, 1, 2, 3, 4, 5]" [value]="val">{{ val }}</mat-button-toggle>
    </mat-button-toggle-group>

    <h3>Difficulty</h3>
    <mat-button-toggle-group formControlName="difficulty" aria-label="Difficulty">
      <mat-button-toggle *ngFor="let difficulty of difficulties | enumToArray" [value]="difficulty.index">{{ difficulty.name }}</mat-button-toggle>
    </mat-button-toggle-group>

    <h3>Estimated duration (max)</h3>
    <mat-slider formControlName="estimatedDuration" min="{{ MIN_DURATION }}" max="{{ MAX_DURATION }}" thumbLabel step="15" aria-label="Maximum duration slider"></mat-slider>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" aria-label="Type of scenario">
        <mat-option *ngFor="let type of types | enumToArray" [value]="type.index">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button (click)="filter()" mat-raised-button mat-dialog-close cdkFocusInitial color="accent">Filter</button>
  <button (click)="resetFilter()" mat-raised-button mat-dialog-close color="warn">Reset</button>
</mat-dialog-actions>


<!--
UI ideas
https://i.pinimg.com/originals/93/93/ae/9393aefb5bf1a60ce64cadd6d3789b59.png
https://koenig-media.raywenderlich.com/uploads/2017/01/hotwire.png
-->
