<h1 mat-dialog-title>
  {{ data.title }}
</h1>
<mat-dialog-content>
  <p>{{ data.description }}</p>
  <ng-container *ngIf="data.unlockedItems.length">
    <h2>New items :</h2>
    <div *ngFor="let item of data.unlockedItems">{{ item.name }}</div>
  </ng-container>
  <ng-container *ngIf="data.unlockedMechanisms.length">
    <h2>New mechanisms :</h2>
    <div *ngFor="let mechanism of data.unlockedMechanisms">{{ mechanism.name }}</div>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="!data.isLastStep" mat-raised-button mat-dialog-close>Ok</button>
</mat-dialog-actions>
