:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .mat-dialog-content {
    flex: 1;
    max-height: none;

    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
