<section class="home-menu">
  <button
    mat-flat-button
    mat-icon-button
    aria-label="Filter scenarios"
    (click)="openFilterScenarioDialog()">
    <mat-icon aria-label="Filter scenarios icon">filter_list</mat-icon>
  </button>
</section>
<mat-card *ngFor="let scenario of scenarii" (click)="seeDetails(scenario)">
  <mat-card-header>
    <mat-card-title>{{ scenario.scenarioMetadata.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="scenario.scenarioMetadata.image" alt="Scenario picture">
  <mat-card-content>
    <p>{{ scenario.scenarioMetadata.description }}</p>
  </mat-card-content>
</mat-card>
